{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'block_list' %}">Home</a></li>
            <li class="active">{{ b.name }}</li>
        </ol>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        {% endif %}
        &nbsp;<a href="{% url 'create_article' b.id %}" class="btn btn-primary">Publish</a>
        <br><br>
        <table class="table table-bordered">
            <tr>
                <th>Status</th>
                <th>Title</th>
                <th>Author</th>
                <th>Updated on</th>
            </tr>
            {% for article in articles %}
            <tr>
                <td>{{ article.get_status_display }}</td>
                <td><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></td>
                <td>{{ article.owner }}</td>
                <td>{{ article.last_update_timestamp }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}