{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    {% if form.errors or error %}
    <div class="alert alert-danger">{{ form.errors }}{{ error }}</div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-3">
     &nbsp;
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Registration</b>
        </div>
        <div class="panel-body">
          <form method="post" action="{% url 'usercenter_register' %}">
          {% csrf_token %}
          
          <div class="input-group">
              <span class="input-group-addon">Username</span>
              <input id="id_username" maxlength="254" name="username" type="text" class="form-control" />
          </div>
          <br />
          <div class="input-group">
              <span class="input-group-addon">Email&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input id="id_email" name="email" type="text" class="form-control" />
          </div>
          <br />
          <div class="input-group">
              <span class="input-group-addon">Password&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input id="id_password" name="password" type="password" class="form-control" />
          </div>
          <br />
          <div class="input-group">
              <span class="input-group-addon">Confirm Password</span>
              <input id="id_re_password" name="re_password" type="password" class="form-control" />
          </div>
          <br />
          <input type="submit" class="btn btn-primary" value="Submit" />
          </form>
        </div>
        <div class="panel-footer">
          <a href="{% url 'login' %}">Go for Login...</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
     &nbsp;
    </div>
  </div>
</div>
{% endblock %}
